<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					Извините, вы не авторизованы чтобы просматривать эту страницу.
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Не найдено</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Извините, по этому адресу ничего нет.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
